.work {
  background-color: #222222;
  width: 1229.5px;
  transform: translate(152px, -21px);
}

.work-inner {
  text-align: center;
  h1 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: white;
  }
}

.work-item {
  display: flex;
  justify-content: center;
  .new-list {
    display: flex;
    gap: 20px;
  }
}

.foot {
  padding-top: 100px;
  p {
    color: #999999;
    padding: 10px;
  }
}
